.Profile-container {
  position: relative;
  max-width: 360px;
  margin: 64px auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
}

.avatar {
  text-align: center;
  position: relative;
  margin-bottom: 16px;

  img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-style: none;
  }

  label {
    position: absolute;
    bottom: -10px;
    right: 90px;
    font-size: 30px;
  }

  input {
    display: none;
  }
}