
.container{
    background-color: #000;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    max-width: 100% !important;
}

.container-style{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    column-gap: 1rem;
}

.left-col{
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.title{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-left: 2rem;
    font-style: normal;
    margin-bottom: 32px;
    padding-top: 16px;
    position: relative;
    color: rgb(45, 194, 117);
    cursor: pointer;
}

.back-page{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 16px;
    position: relative;
    color: rgb(45, 194, 117);
    padding-left: 1.2rem;

    a{
        color: rgb(45, 194, 117);
        text-decoration: none;
    }
    span{
        cursor: pointer;
        position: absolute;
        left: 0.75rem;
        display: flex;
        gap: 0.5rem;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: row;
    }

    .text{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: default;
    }
}

.ticket-container{
    max-width: 100vw;
    padding-left: 12px;
    padding-right: 12px;
}

.ticket-row-style{
    margin-left: -12px;
    margin-right: -12px;
}

.tbox-col-md-12{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    min-height: 1px;
    width: 100%;
}

.ticket-container-style{
    max-width: 100vw;
    padding-left: 12px;
    padding-right: 12px;
}

.ticket-header{
    display: flex;
    padding: 10px;
    padding-right: 140px;
}

.tbox-col-lg-8{
    box-sizing: border-box;
    min-height: 1px;
    width: 100%;

    span{
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: 700;
    }
}

.tbox-col-lg-4{
    text-align: right;
    box-sizing: border-box;
    min-height: 1px;
    width: 100%;

    span{
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: 700;
    }
}

.ticket-row{
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px dashed rgb(128, 128, 137);
}

.tbox-col-md-9{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 12px;
    padding-right: 12px;

    .ticket-type{
        color: rgb(45, 194, 117);
        font-weight: 700;
        word-break: break-word;
        line-height: 1.5714285714285714;
    }

    .ticket-price{
        color: rgb(255, 255, 255);
        word-break: break-word;
        line-height: 1.5714285714285714;
    }
}

.tbox-col-md-3{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    text-align: right;
    padding-left: 12px;
    padding-right: 12px;
    
    span{
        color: rgb(255, 66, 79);
        background-color: rgb(255, 184, 188);
        border-radius: 12px;
        padding: 4px 8px;
        text-align: center;
        font-size: 14px;
        align-self: center;
    }
}

.count-ticket{
    gap: 0.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    input{
        min-width: 40px;
        max-width: 50px;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        padding: 4px 11px;
        color: rgba(0, 0, 0, 0.88);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: #ffffff;
        background-image: none;
        border-width: 1px;
        border-style: solid;
        border-color: #d9d9d9;
        border-radius: 6px;
        transition: all 0.2s;
    }
}

.tbox-col-lg-2{
    box-sizing: border-box;
    min-height: 1px;
    width: 100%;
}

.right-col{
    flex: 0 0 37.25%;
    max-width: 25rem;
    box-sizing: border-box;
}

.right-col-style{
    flex: 0 0 37.25%;
    background: rgb(56, 56, 61);
    transition: all 500ms ease 0s;
    min-height: calc(-76px + 100vh);
    height: 100%;
    position: relative;
}

.info-title{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem;
    height: 48px;
    overflow: hidden;
    background: rgb(39, 39, 42);

    span{
        font-size: 16px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 21px;
        height: 42px;
    }
}

.info-content{
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-left: 20px;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: relative;

    .time{
        padding: 10px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 14px;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .address{
        padding: 10px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 14px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }
}

.divider{
    margin: 12px auto;
    border-block-start: 1px solid rgb(81, 81, 88) !important;
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
}

.price-list{
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: relative;
}

.price-list-title{
    border-block-end: transparent;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.price-list-content{
    position: relative;
    transition: opacity 0.3s;
}

.list-item{
    height: 30vh;
    overflow-y: auto;
    margin: 0;
    padding: 10px;
    list-style: none;

    li{
        border-block-end: transparent;
        padding: 10px !important;


        .tag-name{
            gap: 4px 0px;
            align-items: center;
            display: inline-flex;
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 16px;
        }

        .item-price{    
            font-weight: 600;
            font-size: 14px;
            color: rgb(45, 194, 117);
        }
    }
}

.btn-wrapper{

    button{
        display: flex;
        margin: 0.75rem 0px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        padding-block: 10rem;
        border-radius: 0.25rem;
        color: rgb(255, 255, 255);
        font-size: 1em;
        font-weight: bold;
        transition: background-color 0.4s ease-in-out 0s;
        background-color: rgb(45, 194, 117);
        border-width: 0px;
        padding:10px;
        cursor: pointer;
    }
}
