.ticket-empty-container{
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    span{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;
        color: rgb(175, 184, 201);
    }
}