
.form-container {
  font-size: 14px;
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  font-size: 14px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin: 20px 0;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.google-btn {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 15px;
  border: none;
  text-align: center;
}

.fpw-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #28ad69;
}

.logo {
  height: 40px;
}

.shiba {
  height: 60px;
}

.header {
  background-color: #2dc275;
}