footer {
    background-color: rgb(29, 29, 29);
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-section h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: rgb(179, 179, 179);
    text-decoration: none;
  }
  
  .footer-section p {
    color: rgb(179, 179, 179);
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li a img {
    width: 24px;
    height: 24px;
  }
  