header {
    background-color: rgb(45, 194, 117);
    align-content: center;
    height: 76px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo img {
    height: 40px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    color: #28a745;
    font-size: 16px;
    cursor: pointer;
    padding: 0 15px;
  }
  
  .search-bar button span {
    display: none;
  }
  
  .search-bar button::before {
    content: '\1F50D'; /* Unicode character for the search icon */
    font-size: 20px;
    color: #28a745;
  }
  
  .search-bar input::placeholder {
    color: #b0b0b0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .create-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 8px 30px;
    font-weight: 400;
    transition: all 0.4s ease-in-out 0s;
    margin-left: 30px;
    background-color: transparent;
  }

  .create-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .myticket-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 30px;
    font-weight: 400;
    background-color: transparent;
  }

  .login-options a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
  }
  